*,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 729.6px;
}

header {
    background-color: #281700;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: #f7e7fe;
}

h2 {
    color: #f7e7fe;
    font-family: "Poppins", cursive;
    letter-spacing: 2px;
    font-size: xx-large;
}

main {
    background-color: #281700;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #f7e7fe;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
}

label {
    font-family: "Poppins", sans-serif;
    color: #281700;
    font-size: 40px;
    padding-right: 10px;
}

input {
    height: 70px;
    width: 35%;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #281700;
    font-size: 45px;
    border: solid #f7e7fe 3.5px;
    outline: 0;
    caret-color: #281700;
    color: #f7e7fe;
}

.input {
    color: #f7e7fe;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

textarea {
    height: 70px;
    width: 35%;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #281700;
    font-size: 45px;
    border: solid #f7e7fe 3.5px;
    outline: 0;
    caret-color: #281700;
    color: #f7e7fe;
    resize: none;
    margin-top: 30px;
}

button {
    font-family: "Poppins", sans-serif;
    background-color: #f7e7fe;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    border: solid #f7e7fe 2px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e0d0f7;
}
